.menu-components {
  align-items: center;
  display: inline-flex;
  gap: 9px;
  position: relative;
}

.menu-components .CLOSET {
  color: #000000;
  font-family: "Pretendard-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.menu-components .shape {
  height: 8.74px;
  margin-right: -1.50px;
  position: relative;
  width: 12px;
}
